input{
    width: 500px;
    padding: 5px;
    font-size: 18px;
    border-radius: 7px;
}
.text{
    font-size: 18px;
}
.done{
    text-decoration: line-through;
    color: grey;
}
.buttonDelete.done{
    color: grey;
    border-color: grey;
}
.buttonDelete.done:hover{
    color: grey;
    border-color: grey;
}